.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;

}

.logodiv {
  width: 5rem;
}

.welcomediv {
  -webkit-flex: auto;
  flex: 1 1 auto;
  padding: 1rem;

}
.App-header {
  background-color: #000;
  height: 100px;
  padding: 20px;
  color: white;
  display: -webkit-flex;
  display: flex;
  //flex: 1 1 auto;
  flex-flow: row;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#booklib {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 80px;
}

.bookDiv {
  border: 1px solid black;
  height: 300px;
  width: 250px;
  margin-bottom: 40px;
  display: inline-flex;
  flex-direction: column;
}

.bookCover {
  display: flex;
  height: 200px;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  order: 1;
}

.bookCoverImg {
  height: 200px;
  width: 150px;
}

.bookText {
  order: 2;
}

.singleBookDiv {
  display: flex;
  flex-flow: row;
}

.singleBookDesc {
  flex: auto;
  align-content: flex-start;
  text-align: left;
}

.singleBookCoverDiv {
  flex: 2 3 10%;
}
