.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;

}

.logodiv {
  width: 5rem;
}

.welcomediv {
  -webkit-flex: auto;
  flex: 1 1 auto;
  padding: 1rem;

}
.App-header {
  background-color: #000;
  height: 100px;
  padding: 20px;
  color: white;
  display: -webkit-flex;
  display: flex;
  //flex: 1 1 auto;
  flex-flow: row;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bookDiv {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  display:inline-flex;
  flex-flow: row;

}

.bookCoverImg {
  width: 40px;
  height: 60px;
  align-self: center; /* Put the item around the center */

}

.bookCoverDiv {
//  position:absolute;
  //float:right;
  display: flex;
  flex: 2 3 10%;
}

.bookTextDiv {
  flex: 1 1 80%;
}

.singleBookDiv {
  display:flex;
  flex-flow:row;
}

.singleBookDesc {
  flex: auto;
  align-content: flex-start;
  text-align: left;
}

.singleBookCoverDiv {
  flex: 2 3 10%;
}
